name: release

# Refer to https://help.github.com/en/articles/workflow-syntax-for-github-actions for documentation on Actions.
on:
  release:
    types:
      - released

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Validate release tag
        run: |
          # We only want to run on tags looking like refs/tags/v1200.
          echo "Checking tag: $GITHUB_REF"
          [[ "${GITHUB_REF:10:1}" == "v" ]] || exit 1

      - name: Setup Node.js 14.12.0
        uses: actions/setup-node@v2
        with:
          node-version: "14.12.0"

      - name: Upgrade NPM to 6.14.8
        run: |
          npm i -g npm@6.14.8

      - name: "Install dependencies"
        run: |
          npm ci

      - name: "Install dependencies"
        run: |
          npm ci

      - uses: actions/download-artifact@v2
        with:
          name: bootstrap-${{ env.GITHUB_SHA }}
          path: ./target/cdk/release
          if-no-files-found: error

      - name: Deploy
        if: env.AWS_ACCESS_KEY_ID && env.AWS_SECRET_ACCESS_KEY
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.RELEASE_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.RELEASE_AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.RELEASE_AWS_SECRET_ACCESS_KEY }}
        run: |
          # Move artifact into expected location.
          mv ./target/cdk/release/bootstrap-$GITHUB_SHA ./target/cdk/release/bootstrap
          AWS_REGION=$AWS_DEFAULT_REGION npm run cdk:deploy
